<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.atm.mapper.TransactionMapper">

    <insert id="insert" parameterType="com.example.atm.entity.TransactionRecord">
        INSERT INTO transaction_record(card, type, amount, target_card, time, remark)
        VALUES (#{card}, #{type}, #{amount}, #{targetCard}, NOW(), #{remark});
    </insert>

    <select id="findByCard" resultType="com.example.atm.entity.TransactionRecord">
        SELECT * FROM transaction_record
        WHERE card = #{card}
        ORDER BY time DESC;
    </select>

</mapper>
